.mainContent {
  padding: 10px;
  height: 100vh;
  display: flex;
}

.cardForm {
  background: #f2f2f2;
  width: 650px;
  margin: auto;
  border-radius: 15px;
  height: 100%;
  overflow: auto;
}

.cardForm form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.headerForm {
  background: #2f3676;
  clip-path: ellipse(90% 90% at 20% 0%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerForm h1 {
  font-weight: 300;
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}

.headerForm div {
  width: 150px;
  height: 150px;
}

.mainForm {
  padding: 20px 40px;
}

.boldLabel {
  font-weight: bold;
  font-size: 22px;
}

.containerCheckBox {
  margin: 20px 0px;
}

.containerCheckBox label {
  margin-left: 10px;
}

.containerCheckBox input {
  cursor: pointer;
}

.containerStickers {
  margin: 20px 0px;
}

.containerStickers div {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.containerStickers button {
  color: white;
  background: #2f3676;
  border: none;
  font-size: 32px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.containerStickers input {
  margin: 0px 20px;
  height: 40px;
  border: solid 1px #2f3676;
  border-radius: 5px;
  background: #dde2e8;
  outline: none;
  padding: 10px;
  font-size: 18px;
  width: 125px;
}

.containerObs {
  display: flex;
  flex-direction: column;
}

.containerObs textarea {
  margin: 20px 0px;
  border: solid 1px #2f3676;
  border-radius: 5px;
  background: #dde2e8;
  padding: 10px;
  font-size: 18px;
  resize: none;
  outline: none;
}

.containerSubmit {
  background: #dde2e8;
  padding: 40px 40px;
  text-align: right;
}

.containerSubmit button {
  background: #2f3676;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.error {
  color: red;
}

.popUp {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}

.popUp > div {
  width: 500px;
  height: 200px;
  border-radius: 15px;
  background: white;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popUp ul {
  display: flex;
  flex-direction: column;
}
